{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">S'inscrire</a>
        </div>
        <div class="col-4 text-center">
          <h3><a class="blog-header-logo text-dark" href="#">Blog - Maratech Innovation</a></h3>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Rechercher</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Créer un compte</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">Monde</a>
        <a class="p-2 link-secondary" href="#">Afrique</a>
        <a class="p-2 link-secondary" href="#">Technologies</a>
        <a class="p-2 link-secondary" href="#">Design</a>
        <a class="p-2 link-secondary" href="#">Culture</a>
        <a class="p-2 link-secondary" href="#">Business</a>
        <a class="p-2 link-secondary" href="#">Politique</a>
        <a class="p-2 link-secondary" href="#">Science</a>
        <a class="p-2 link-secondary" href="#">Santé</a>
        <a class="p-2 link-secondary" href="#">Style</a>
        <a class="p-2 link-secondary" href="#">Voyage</a>
      </nav>
    </div>
  </div>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="background:url('{{ asset("assets/images/cover.jpg") }}'); background-size:cover;">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Le problème de la protection des données personnelles en Afrique</h1>
        <p class="lead my-3">
          L’Afrique, c’est 473 millions d’utilisateurs d’Internet, pour 216 millions d’utilisateurs des réseaux sociaux, selon le Digital Report 2019 de We Are Social et Hootsuite. Le continent constitue, ainsi, un grand réservoir d’utilisateurs de services numériques pour une population de 1,­3 milliard. Tout un écosystème basé sur la collecte et le traitement des données personnelles se développe et l'Afrique devient, ainsi, un laboratoire pour des technologies produites ailleurs, sans que le continent ait une réelle visibilité sur ces possibles conséquences sur son avenir...
        </p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Lire la suite...</a></p>
      </div>
    </div>

    {# Article : UX #}
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Design</strong>
            <h3 class="mb-0">L'UX Design</h3>
            <div class="mb-1 text-muted">12 Novembre</div>
            <p class="card-text mb-auto">Vous voulez en savoir un peu plus sur l'UX Design et peut être vous y lancer ?</p>
            <a href="#" class="stretched-link">Lire la suite</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{ asset("assets/images/ux.png") }}" width="400" alt="L'UX Design">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Politique</strong>
            <h3 class="mb-0">La situation en guinée</h3>
            <div class="mb-1 text-muted">15 Avril</div>
            <p class="mb-auto">Des spécialistes des relations internationales aux analystes politiques en passant par les conseillers en sécurité, divers acrobates tentent depuis le 5 septembre d’expliquer le putsch de Conakry, sans pour autant le justifier.</p>
            <a href="#" class="stretched-link">Lire la suite</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{ asset("assets/images/guinee.jpg") }}" alt="Doumbouya">
          </div>
        </div>
      </div>
    </div>

    {# Article : Situation en guinée #}
    <div class="row g-5">

      {# Contenu principal #}
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          From the Firehose
        </h3>

        <article class="blog-post">
          <h2 class="blog-post-title">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

          <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
          <hr>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h2>Blockquotes</h2>
          <p>This is an example blockquote in action:</p>
          <blockquote class="blockquote">
            <p>Quoted text goes here.</p>
          </blockquote>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Example lists</h3>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
          <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ul>
          <p>And this is an ordered list:</p>
          <ol>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ol>
          <p>And this is a definiton list:</p>
          <dl>
            <dt>HyperText Markup Language (HTML)</dt>
            <dd>The language used to describe and define the content of a Web page</dd>
            <dt>Cascading Style Sheets (CSS)</dt>
            <dd>Used to describe the appearance of Web content</dd>
            <dt>JavaScript (JS)</dt>
            <dd>The programming language used to build advanced Web sites and applications</dd>
          </dl>
          <h2>Inline HTML elements</h2>
          <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer Network</a>.</p>
          <ul>
            <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
            <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
            <li>Abbreviations, like <abbr title="HyperText Markup Langage">HTML</abbr> should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>
            <li>Citations, like <cite>— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
            <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins> text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
            <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li>
          </ul>
          <p>Most of these elements are styled by browsers with few modifications on our part.</p>
          <h2>Heading</h2>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Sub-heading</h3>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <pre><code>Example code block</code></pre>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

        <article class="blog-post">
          <h2 class="blog-post-title">Another blog post</h2>
          <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <blockquote>
            <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
          </blockquote>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Example table</h3>
          <p>And don't forget about tables in these posts:</p>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alice</td>
                <td>10</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Bob</td>
                <td>4</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Charlie</td>
                <td>7</td>
                <td>9</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totals</td>
                <td>21</td>
                <td>23</td>
              </tr>
            </tfoot>
          </table>

          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

        <article class="blog-post">
          <h2 class="blog-post-title">New feature</h2>
          <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ul>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

        {# Barre de navigation en bas #}
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">Anciens articles</a>
          <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Nouveaux articles</a>
        </nav>

      </div>

      {# Panneau de gauche #}
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">

          {# A propos #}
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">À propos</h4>
            <p class="mb-0">
              Le blog de Maratech Innovation édite plusieurs article par mois sur des sujets diverses, principalement des technologies du numérique. Abonnez-vous à notre <a href="#">newsletter</a> pour ne plus rater nos publications.
            </p>
          </div>

          {# Archives #}
          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Février 2021</a></li>
              <li><a href="#">Janvier 2021</a></li>
              <li><a href="#">Décembre 2020</a></li>
              <li><a href="#">Novembre 2020</a></li>
              <li><a href="#">Octobre 2020</a></li>
              <li><a href="#">Septembre 2020</a></li>
              <li><a href="#">Août 2020</a></li>
              <li><a href="#">Juillet 2020</a></li>
              <li><a href="#">Juin 2020</a></li>
              <li><a href="#">Mai 2020</a></li>
              <li><a href="#">Avril 2020</a></li>
              <li><a href="#">Mars 2020</a></li>
            </ol>
          </div>

          {# Nous rejoindre #}
          <div class="p-4">
            <h4 class="fst-italic">Nous rejoindre</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="blog-footer">
    <br>
    <p>
      <a href="#">&emsp;&emsp;Remonter en haut de page</a>
    </p>
  </footer>
{% endblock %}